@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');

:root{
    --menu-bg-color: #CC103C;
    --white: #FFFFFF;
    --white-2: #e9e0e0;
    --black: #000000;
    --black-2: #1A1A1A;
    --orange: #FC3F05;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--black);
    background-color: var(--white);
    font-family: 'Work Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* --------------Navbar-------------- */

.navbar{
    position: sticky;
    height: 60px;
    width: 100%;
    display: flex;
    top: 0;
    align-items: center;
    background: var(--white-2);
    z-index: 1;
}
.navbar-center{
    width: 100%;
    max-width: 1170px;
    display: flex;
    margin: 0 auto;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: space-between;
}
.nav-icon{
    font-size: 2rem;
}
.shop-icon{
    height: 200px;
    width: auto;
    position: relative;
    top: 20px;
}
.cart-btn{
    position: relative;
    cursor: pointer;
    top: 2px;
}
.cart-items{
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: black;
    padding: 0 5px;
    border-radius: 30%;
    color: white;
}

/* hero section */
.hero{
    min-height: calc(100vh - 100px);
    background: url(./image/hero-bcg.jpeg) center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner{
    text-align: center;
    background: rgba(255, 255, 255, .5);
    display: inline-block;
    padding: 2rem;
}
.banner-title{
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
}
.banner-btn{
    font-size: 2rem;
    padding: .5rem 2.2rem;
    letter-spacing: var(--mainSpacing);
    border: 1px solid var(--menu-bg-color);
    cursor: pointer;
    text-transform: uppercase;
    background: rgba(255, 255, 255, .1);
    transition: var(--mainTransition);
    border-radius: 0px;
}
.banner-btn:hover{
    background: var(--menu-bg-color);
    color: white;
    border-radius: 5px;
}

/* end of hero section */

/* product section */
.products{
    padding: 4rem 0;
}
.section-title h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 4rem;
    letter-spacing: var(--mainSpacing);
}
.products-center{
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));   
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}
.product-container{
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-img{
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
}

.bag-btn{
    position: absolute;
    top: 50%;
    right: 0;
    background: var(--menu-bg-color);
    text-transform: uppercase;
    padding: .5rem .75rem;
    border: none;
    letter-spacing: var(--mainSpacing);
    color: white;
    transition: var(--mainTransition);
    cursor: pointer;
    font-weight: bold;
    transform: translateX(100%);
}
.bag-btn:hover{
    color: black;
}
.bxs-cart{
    font-size: 1rem;
    margin-right: .5rem;
}
.product-container:hover .bag-btn{
    transform: translateX(0);
}
.product-container:hover{
    box-shadow: 0 4px 8px 0 rgba(250, 3, 3, 0.5), 0 6px 20px 0 rgba(160, 27, 27, 0.5);;
}

.product h3{
    margin-top: 1rem;
    text-transform: capitalize;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: var(--mainSpacing);
}
.product h4{
    margin: .7rem;
    font-size: 1rem;
    text-align: center;
}

/* end of product section */

/* cart section */

.cart-overlay{
    position: fixed;
    z-index: 2;
    top: 60px;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);  
    visibility: hidden;
}
.cart{
    position: fixed;
    z-index: 3;
    top: 60px;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: var(--menu-bg-color);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}
.showCart{
    transform: translateX(0);
}
.transparentBcg{
    visibility: visible;
}

@media screen and (min-width: 768px){
    .cart{
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart{
    font-size: 1.7rem;
    cursor: pointer;
}
.cart > h2{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: var(--mainSpacing);
    color: rgb(250, 250, 250);
}

/* --------cart item------------ */
.cart-item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-item > img{
    width: 75px;
    height: 75px;
}
.cart-item h4{
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    margin-bottom: .5rem;
    color: rgb(241, 234, 234);
}
.cart-item h5{
    margin-bottom: .4rem;
    letter-spacing: var(--mainSpacing);
    color: #e0cccc;
}
.item-amount{
    text-align: center;
    color: rgb(241, 238, 238);
}
.remove-item{
    color: rgb(14, 2, 2);
    cursor: pointer;
}
.bxs-chevron-up,
.bxs-chevron-down{
    color: yellowgreen;
    cursor: pointer;
}

/* -----------end of cart item------------ */

.cart-footer{
    margin-top: 2rem;
    text-align: center;
}
.cart-footer > h3{
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.cartfooter-btn{
    font-size: 1rem;
    letter-spacing: var(--mainSpacing);
    border: 1px solid var(--menu-bg-color);
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--mainTransition);
    border-radius: 5px;
    padding: 5px 10px;
}
.cartfooter-btn:hover{
    background: black;
    color: white;
    border-radius: 5px;
}
